@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'desyrel_regular_macroman';
	src: url('desyrel_regular_macroman/desyrel-webfont.eot');
	src: url('desyrel_regular_macroman/desyrel-webfont.eot#iefix') format('embedded-opentype'),
		url('desyrel_regular_macroman/desyrel-webfont.woff') format('woff'),
		url('desyrel_regular_macroman/desyrel-webfont.ttf') format('truetype'),
		url('desyrel_regular_macroman/desyrel-webfont.svg#desyrel_regular_macroman') format('svg');
}

/******** Global *******/


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vh;
	text-align: justify-all;

}

body {	background-color: #FAFAFA;}

h1,
h2 {
	font-family: 'desyrel_regular_macroman', Arial, serif;
	line-height: 2em;
	color: #212121;
	text-align: center;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
	background-color: #FFA000;
}

h3 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

p {
	width: 100%;
	text-align: justify;
	padding: 2% 5%;
}

ul {
	list-style-type: none;
	line-height: 2em;
	padding: 0 5%;
}

li::before {content: "\25AA"; color: #212121;
	display: inline-block; width: 1em;
	margin-left: -1em}

main {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	min-height: 100vh;
}

/******** section gauche *******/

#gauche {
	background-color: #212121;
	width: 30%;
	color: #FAFAFA;
}

#photoetcontact {
	height: 50vh;
}

#titreresponsive {
	display: none;
}

#photocv {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20vh;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: justify;
	list-style-type: none;
	line-height: 2em;
	padding: 0 5%;
}

#contact a {
	color: #FAFAFA;
}

#contact a:hover {
	color: #FFA000;
}

.fa-globe {
	color: blue;
}

.fa-phone-square {
	color: green;
}

.fa-envelope-square {
	color: red;
}

.fas {
	font-size: 3vh;
}


#apropos {
	height: 80vh;
}

/******** section droite *******/

#droite {

	width: 70%;
}

#entete {
	height: 50vh;
	background-image: url(images/979.jpg);
	background-size: cover;

}

#pro {
	height: 80vh;
}

.experience {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: justify;
}

.experience span {
	font-size: 0.8em;
	padding: 2%;
	width: 20%
}

.experience article {
	width: 80%
}

#divcompetences {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
}

#divcompetences article {
	padding: 5px;
	width: 25%;
	background-color: #FFA000;
	border-radius: 30px;
	margin: 5%;
	box-shadow: 5px 5px 5px 5px rgb(194, 185, 185);
}

#divcompetences li {
	list-style-type: none;
	padding: 10px;
}

/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/


/******** Point de rupture TABLETTE******/

@media only screen and (max-device-width:1024px) {

	* {

		font-size: 2.2vh;


	}

	main {

		display: flex;
		flex-direction: column;
		min-height: 100vh;


	}

	#gauche,
	#droite {
		width: 100%;
	}

	#photetcontact {
		height: auto;
	}

	#titreresponsive {
		display: block;
	}

	h1 {

		font-size: 1.5em;
		color: #FAFAFA;

	}



	h2 {

		font-size: 1em;
	}


	#titre {
		display: none;
	}

	#contact {

		display: flex;
		flex-direction: column;
		text-align: center;
	}



	#formation ul {
		display: flex;
		flex-direction: column;
		text-align: center;




	}

	#formation ul li {

		font-size: 2vh;
	}


	#divcompetences {

		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		width: 100%;

	}

	#competences article {

		padding: 5px;
		width: 90%;
		background-color: #d79A10;
		border-radius: 30px;
		margin: 5%;
		box-shadow: 5px 5px 5px 5px rgb(194, 185, 185);


	}

}

/******** Pont de rupture Mobile ******/

@media only screen and (max-device-width:700px) {

	* {
		font-size: 1vh;
	}

	#contact a {

		font-size: 2em;

	}


}