/**** CODE COMMUN*****/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'desyrel_regular_macroman';
	src: url('desyrel_regular_macroman/desyrel-webfont.eot');
	src: url('desyrel_regular_macroman/desyrel-webfont.eot#iefix') format('embedded-opentype'),
		url('desyrel_regular_macroman/desyrel-webfont.woff') format('woff'),
		url('desyrel_regular_macroman/desyrel-webfont.ttf') format('truetype'),
		url('desyrel_regular_macroman/desyrel-webfont.svg#desyrel_regular_macroman') format('svg');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vh;
	text-align: justify-all;

}

body {
	background-color: #FAFAFA;
	;
}


/**** H1 à 6 *****/
h1,
h2 {
	font-family: 'desyrel_regular_macroman', Arial, serif;
	line-height: 2em;
	color: #212121;

}

h1 {
	font-size: 4em;
	text-align: center;
}


h2 {

	background-color: #FFA000;
	font-size: 2em;

}


h3,
h4,
h5,
h6 {
	font-size: 1em;
}

.div30 h2 {

	text-align: center;


}

.div70 h2 {

	padding-left: 1em;

}

.h3souligne {
	font-size: 1.2em;
	padding: 2%;
	text-decoration: underline;
}

/**** Liens *****/

a {
	text-decoration: none;
}




/**** Paragraphe*****/

p {
	width: 100%;
	text-align: justify;
	padding: 2%;
}

#apropos p {

	padding: 4%;
}

/**** Listes *****/

ul {
	list-style-type: none;
	line-height: 2em;
	text-align: justify;

}

li::before {
	content: "\25AA";
	color: #212121;
	display: inline-block;
	width: 1em;
	margin-left: 1em
}



/**** SECTION *****/

#section2, #section3, footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

/**** CLASS DIV *****/

.div30 {
	background-color: #212121;
	width: 30%;
	color: #FAFAFA;
	padding: 0;
	margin: 0;

}

.div70 {
	width: 70%;
}

/**** SECTION 1 *****/

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

#entete {
	background-image: url(images/background/979.jpg);
	background-size: cover;
	padding-top: 50px;

}

#photocv {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20vh;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: justify;
	list-style-type: none;
	line-height: 2em;

}

#contact a {
	color: #FAFAFA;
	line-height: 3em;
	padding-left: 1em;
}

#contact a:hover {
	color: #FFA000;
}


.fa-globe {
	color: blue;
}

.fa-phone-square {
	color: green;
}

.fa-envelope-square {
	color: red;
}

#contact .fas {
	font-size: 3vh;
}



/**** SECTION 2*****/

.experience {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: justify;

}

.experience article {
	width: 80%
}

.date {
	font-size: 0.8em;
	padding: 2%;
	width: 20%
}

.date::before {
	content: "\25AA";
	color: #212121;
	display: inline-block;
	width: 1em;
	margin-left: -1em
}




/**** SECTION 3 *****/

#formation div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
	width: 100%;

}

#formation div article {

	width: 20%;
	text-align: center;
	padding: 2%;

}

#formation img {


	height: 10vh;


}

#formation p {

	text-align: center;
}

/**** SECTION 4 *****/
#divcompetences div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
	
}

#divcompetences article {
	padding: 5px;
	width: 25%;
	background-color: #FFA000;
	border-radius: 30px;
	margin: 5%;
	box-shadow: 5px 5px 5px 5px rgb(197, 200, 202);
}

#divcompetences li {
	list-style-type: none;
	padding: 10px;
}



/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/

/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/

/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/


/******** Point de rupture TABLETTE******/

@media (max-width: 1024px) {

	* {

		font-size: 1em;


	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.8em;
	}


	header,#section1, #section2 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

	}

	.experience {
		display: flex;
		flex-direction: column;
		text-align: justify;
		width: 90%;
		margin: 0 5%;

	}

	#photocv {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 15vh;
	}

	.date {

		width: 100%
	}

	#divvide {
		display: none;
	}

	#formation div article {

		width: 18%;
		text-align: center;
		padding: 2% 5%;
	}

	footer {

		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;

	}


	#divcompetences div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;

	}

	#divcompetences article {

		width: 90%;

	}


	.div30,
	.div70 {
		width: 100%;
	}




	.date {
		font-size: 0.8em;
		padding: 2%;

	}

	#formation img {


		height: 4vh;


	}

}

@media (max-width: 800px) {

	* {

		font-size: 1em;


	}

	h1 {
		font-size: 1em;
	}


	
#formation div {

    display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

#formation div article {


	width: 30%;
	margin: 1%;

}




}

@media (max-width: 500px) {

	#formation div {

		display: flex;
		flex-direction: column;
		align-items: center;

	}

	#formation div article {


		width: 80%;
		margin: 1%;
		text-align: center;
		background-color: steelblue
	
	}
}