@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'desyrel_regular_macroman';
	src: url('desyrel_regular_macroman/desyrel-webfont.eot');
	src: url('desyrel_regular_macroman/desyrel-webfont.eot#iefix') format('embedded-opentype'),
		url('desyrel_regular_macroman/desyrel-webfont.woff') format('woff'),
		url('desyrel_regular_macroman/desyrel-webfont.ttf') format('truetype'),
		url('desyrel_regular_macroman/desyrel-webfont.svg#desyrel_regular_macroman') format('svg');
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vh;
	text-align: justify-all;

}

h1,
h2
 {

	font-family: 'desyrel_regular_macroman', Arial, serif;line-height: 2em;
	
}



a {

	text-decoration: none;
}

h1 {

	text-align: center;
	font-size: 4em;



}

h2 {

	text-align: center;
	font-size: 2em;
	background-color:#FFB300;
	color:#1A237E;


}

h3 {

	font-size: 1.5em;
	


}


main {

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	min-height: 100vh;


}

p { width: 90%;text-align: justify;padding: 0 5% 0 5% ;}

#gauche {
	background-color:#1A237E;
	width: 30%;
	color:white;
}

#droite {

	width: 70%;
	color:#1A237E;
}

#titre { height:40vh;}

#photetcontact { height:40vh;}

#titreresponsive {display: none;}

#photocv {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20vh;
}

#contact {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	list-style-type: none;
	line-height: 2em;
	

}

#contact a { color:white;}

#contact a:hover { color:#FFB300;}

.fa-globe {

	color: blue;
}

.fa-phone-square {

	color: green;
}

.fa-envelope-square {

	color: red;
}

.fas { font-size: 3vh;}

.fas:hover {color:#FFB300; }

ul li {

	padding-left: 3vh;
	list-style-type: none;
	line-height: 2em;
}

.experience  {

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: justify;


}



#divcompetences {

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;


}

#competences article {

	padding: 5px;
	width: 25%;
	background-color: #d79A10;
	border-radius: 30px;
	margin: 5%;
	box-shadow: 5px 5px 5px 5px rgb(194, 185, 185);

}


#competences ul {

	list-style-type: none;
	padding: 10px;

}

/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/
/******** RESPONSIVE******/


/******** Point de rupture TABLETTE******/

@media only screen and (max-device-width:1024px) {

	* {

		font-size: 2.2vh;


	}

	main {

		display: flex;
		flex-direction: column;
		min-height: 100vh;
	
	
	}

	#gauche, #droite { width: 100%;}

	#photetcontact { height:auto;}

	#titreresponsive {display: block;}

	h1 {

		font-size: 1.5em;
		color:white;
	
	}



	h2 {

		font-size: 1em;
	}


	#titre {display: none;}

	#contact {

		display: flex;
		flex-direction: column;
		text-align: center;
	}



	#formation ul {
		display: flex;
		flex-direction: column;
		text-align: center;




	}

	#formation ul li {

		font-size: 2vh;
	}


	#divcompetences {

		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		width: 100%;

	}

	#competences article {

		padding: 5px;
		width: 90%;
		background-color: #d79A10;
		border-radius: 30px;
		margin: 5%;
		box-shadow: 5px 5px 5px 5px rgb(194, 185, 185);


	}

}

/******** Pont de rupture Mobile ******/

@media only screen and (max-device-width:700px) {

	* {
		font-size: 1vh;
	}

	#contact a {

		font-size: 2em;

	}


}